.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.CategoryBar {
  width:100%;
  margin:auto;
  background: black;
  padding:10px;
}

.CategoryBar li {
  display:inline;
  padding:10px;
  margin:0 20px 0 20px;
  text-transform: uppercase;
}

.CategoryBar li.CurrentCategory{
  background-color: #338;
}

.CategoryBar li.OtherCategory:hover {
  background-color: #555;
}

.CategoryBar li a {
  text-decoration: none;
  color:#EEE;
  font-weight: bold;
}

.SectionTitle {
  margin:auto;
  width:90%;
}

.SectionTitle h2 {
  margin-bottom:0;
}

.SectionTitleNav {
  float:right;
}

.SectionTitleNav button {
  text-align: right;
  font-size:1em;
  position:relative;
  top:-25px;
  margin-left:20px;
}

.SectionTitleNav a, .modal button a {
  color:black;
  text-decoration: none;
}

.StatusMessage {
  margin:40px;
  font-style:italic;
}

.modal {
  position: absolute;
  line-height: 2.5em;
  text-align: center;
  top: 50%;
  left: 20%;
  right: 20%;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}
