.arrow-up, .arrow-down, .arrow-none {
	width: 0;
	height: 0;
	border: 7px solid transparent;
  float:left;
  margin-left:10px;
	position: relative;
	top: -5px;
  cursor: pointer; cursor: hand;
}
.arrow-up:after, .arrow-down:after, .arrow-none:after {
	content: '';
	position: absolute;
	left: -7px;
	top: 9px;
	width: 0;
	height: 0;
	border: 7px solid transparent;
  cursor: pointer; cursor: hand;
}

.arrow-up {
  border-bottom-color: red;
}

.arrow-down:after {
  border-top-color: red;
}

.arrow-down, .arrow-none {
  border-bottom-color: grey;
}

.arrow-up:after, .arrow-none:after {
  border-top-color: grey;
}

.sortableColumnLabel {
  float:left;
  cursor: pointer; cursor: hand;
}

div.blueTable {
  background-color: #EEEEEE;
  width: 90%;
  text-align: left;
  margin: 20px auto;
}
.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
  border: 1px solid #AAAAAA;
  padding: 5px 10px;
}
.divTable.blueTable .divTableBody .divTableCell {
  font-size: 13px;
  padding:5px 10px;
}

.divTable.blueTable .divTableHeading {
  background: #1C6EA4;
}

.divTable.blueTable .divTableHeading .divTableHead {
  font-size: 15px;
  color: #FFFFFF;
  vertical-align: middle;
}

.divTableCell input, .divTableCell select, .divTableCell textarea {
  width:90%;
  vertical-align: top;
}

.divTableLabel {
  background: #1C6EA4;
  font-size: 15px;
  color: #FFFFFF;
  padding:5px 10px;
  border: 1px solid #AAAAAA;
}

.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead, .divTableLabel { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableBody { display: table-row-group;}
